// Navigation code here

.navigation{
    
    .nav-bar{
    background-color:@nav-bg;
    border:1px solid @nav-border;
       .FlexDirection(column); 
    }
    h1{
        margin:3% 0;
        text-align:center;
        font-size:3.3rem;
    }
    nav{
        display: flex;
        justify-content: center;
       
       
        a{
            margin-bottom:2%;
            padding:0 1% 1% 1%;
            text-decoration: none;
            color:@nav-font;
            font-size:1.7rem;
            white-space:nowrap;
        }
    }
    .headerImg{
        width:95%;
        margin-left:2%;
        border-radius: 10px;
        @media @phone{
            .widthMargin();
            border-radius: 5px;
        }
    }
}
